
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');


* , *::before , *::after {
    box-sizing: border-box;
}
:root {
    @include media(mobile) {
        font-size: 14px;
    }
}
body {
    background-color: $grey;
    font-family: "Poppins";
}

a {
    text-decoration: none;
}
